body
{
	background-color: #fcffff;
	margin: 0;
    padding: 0;
    height: 100%;
	font-family: 'Libre Franklin', sans-serif;
}

header
{
	background: #cfdfef;
	padding: 1px;
}

header h3
{
	text-align: left;
	font-weight: 600;
	padding-left: 20px;
}

header h3 a
{
	color: #ba402b;
	text-decoration: none;
}

main
{
	color: #35393c;
	font-size: 1.6vw;
	text-align: center;
}

main h2
{
	font-weight: 600;
	padding-top: 2vw;
}

main h3
{
	font-weight: 300;
}

main h3 a
{
	color: #35393c;
}

footer
{
	background-color: #cfdfef;
 	position: fixed;
 	bottom: 0;
 	width: 100%;
}

footer a
{
	float: right;
 	text-align: center;
 	padding-right: 20px;
 	padding-top: 15px;
 	padding-bottom: 10px;
 	text-decoration: none;
}

footer a img
{
	max-width: 1.5vw;
}
