body
{
	background-color: #fcffff;
	margin: 0;
    padding: 0;
    height: 100%;
	font-family: 'Sarabun', sans-serif;
}

.banner
{
	background: #c1c9cc;
	padding: 1px;
}

.banner a
{
	color: #ba402b;
	text-align: left;
	text-decoration: none;
}

.banner a h3
{
	font-weight: 600;
	padding-left: 20px;
}

h2
{
	font-weight: 600;
	font-size: 2vw;
	color: #35393c;
	text-align: center;
	padding: 20px;
}

.links
{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.links a img
{
	float: left;
	background-color: #fcffff;
	margin-left: 4.4vw;
	width: 18vw;
	height: auto;
	border: 0.75vw solid #ba402b;
}

.text
{
	width: 100%;
	float: left;
}

.text a p
{
	font-weight: "300";
	color: #35393c;
	font-size: 1.6vw;
	float: left;
	text-decoration: none;
}

.text #code
{
	margin-left: 11%;
}

.text #ling
{
	margin-left: 18%;
}

.text #music
{
	margin-left: 19%;
}

.text #esp
{
	margin-left: 19%;
}

.social
{
	background-color: #c1c9cc;
 	position: fixed;
 	bottom: 0;
 	width: 100%;
}

.social a
{
	float: right;
 	text-align: center;
 	padding-right: 20px;
 	padding-top: 15px;
 	padding-bottom: 10px;
 	text-decoration: none;
}

.social a img
{
	max-width: 1.5vw;
}
